.choose-game {
    display: block;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
    width: 100%;
    background-color: #7D9BC1;
    
}

.gameflex {
    display: block;
    margin: 0 auto;
    min-height: 60%;
    width: 50%;
    text-align: center;
}

.choose-wc3 {
    display: block;
    margin: 0 auto;
    background-image: url('../images/arthas.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 225px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.choose-sc2 {
    background-image: url('../images/artanis.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    height: 220px;
    width: 400px;
    border-radius: 5px;
}

.choose-sc2:hover {
    box-shadow: 0 4px 8px 0 #FFC72C, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.choose-wc3:hover {
    box-shadow: 0 4px 8px 0 #FFC72C, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1style {
    color: #FFC72C;
    text-shadow: 2px 2px 4px #0C2340;
}

.hovertext, .hovertext2 {
    display: none;
}

.choose-wc3:hover .hovertext {
    display: block;
}

.choose-sc2:hover .hovertext2 {
    display: block;
}

.gameflex > a {
    text-decoration: none;
    color: #FFC72C;
    text-shadow: 2px 2px 4px #0C2340;
}

/* large screen styles*/
@media screen and (min-width: 2000px) {
    .choose-game {
        font-size: 1.50rem;
    }
    .choose-sc2 {
        height: 353px;
        width: 640px;
    }
    .choose-wc3 {
        height: 360px;
        width: 640px;
    }
}

/* mobile styles */
/* 414 x 736 iPhone 6/7/8 Plus */
@media screen and (max-width: 415px) {
    .choose-sc2 {
        height: 216px;
        width: 384px;
    }
    .choose-wc3 {
        height: 216px;
        width: 384px;
    }
    .gameflex {
        width: 100%;
    }
}

/* 375 x 667 iPhone 6/7/7 standard */
@media screen and (max-width:376px) {
    .choose-sc2 {
        height: 144px;
        width: 256px;
    }
    .choose-wc3 {
        height: 144px;
        width: 256px;
    }
    .gameflex {
        width: 80%;
    }
}

/* 320 x 568 iPhone 5/SE */
@media screen and (max-width:321px) {
}