

.App {
  height: 100%;
  color: #0C2340;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #0C2340;
}

h1, h2, h3 {
  font-family: 'Acme', sans-serif;
  text-shadow: 2px 2px 4px #7D9BC1;
}

#logo {
  color: #FFC72C;
  margin-left: 10%;
}
.nodec {
  text-decoration: none;
}



/* button styles */
button {
  border: none;
  background: #0C2340;
  color: #ffffff !important;
  font-weight: 100;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-top: 10px;
  margin-bottom: 5px;
  }

button:hover {
  color: #7D9BC1 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px #0C2340;
  -moz-box-shadow: 0px 5px 40px -10px #0C2340;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }





/* Screen Styles */
/* 1280 x 720 avg laptop */
@media screen and (max-width: 1300px) {
  .app {
   
  }

  .landing, .choose-game {
    min-height: 150%;
  }

  .jumbotron {
  
  }

  .videobox {
    
  }

}

/* 1024 x 1366 ipad Pro */
@media screen and (max-width: 1025px) {
  .home, .landing, .profile, .video-page, .create-user, .choose-game {
    min-height: 50%;
    font-size: 2.00rem;
  }

  .jumbotron {
    height:75%;
    
    margin-bottom: 100px;
  }
  .videobox {
    
    margin-bottom: 75px;
  }
  
  .landing {
    min-width: 70%;
  }
  ::placeholder {
    font-size: 1.50rem;
  }
  input {
    line-height: 2.00rem;
  }
  button {
    font-size: 1.00rem;
    margin-top: 10px;
  }
}

/* 768 x 1024 iPad */
@media screen and (max-width: 770px) {
  .landing, .choose-game {
    min-height: 50%;
    font-size: 1.50rem;
  }

}

/* 414 x 736 iPhone 6/7/8 Plus */
@media screen and (max-width: 415px) {
  .choose-game {
    min-height: 50%;
    font-size: 1.25rem;
  }

  .landing {
    font-size: 1.00rem;
    min-width: 90%;
  }

  ::placeholder, button {
    font-size: 1.00rem;
  }

}

/* 375 x 667 iPhone 6/7/7 standard */
@media screen and (max-width:376px) {

}

/* 320 x 568 iPhone 5/SE */
@media screen and (max-width:321px) {
  .landing, .choose-game {
    min-height: 50%;
    font-size: 1.00rem;
    min-width: 100%;
  }
}