.video-log {
    min-height: 100%;
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.vlog-preview {
    display: inline-block;
    text-align: center;
    height: 225px;
    width: 400px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5px;
}

/* mobile styles */
/* 414 x 736 iPhone 6/7/8 Plus */
@media screen and (max-width: 415px) {
    .vlog-preview {
        height: 216px;
        width: 90%;
    }
    .video-log {
        width: 100%;
    }

}

/* 375 x 667 iPhone 6/7/8 standard */
@media screen and (max-width:376px) {
    .vlog-preview {
        height: 216px;
        width: 90%;
    }
    .video-log {
        width: 100%;
    }
}

/* 320 x 568 iPhone 5/SE */
@media screen and (max-width:321px) {
    .vlog-preview {
        height: 216px;
        width: 90%;
    }
    .video-log {
        width: 100%;
    }
    .renderButton {
        display: none;
    }
}

/* ipad pro */
@media screen and (max-width: 1024px) {

}